/*Extra large device (Desktops)*/
@media (min-width: 1200px) and (max-width: 1920px) {
.headerOption.collapse, .sidebarFilter.collapse, .linkList.collapse {
	display: block !important;
}
}
/*Medium device (Desktops)*/
@media (min-width: 992px) and (max-width: 1199px) {
.selectLargeWrap > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
	width: 92%;
}
.selectMediumWrap > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
	width: 90%;
}
.selectSmallWrap > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
	width: 84%;
}
.searchOptionSelect.input-group-addon {
	width: 33%;
}
.recentlyViewed h6 {
	font-size: 12px;
	padding: 0 6px;
}
.recentlyViewedController .btn {
	font-size: 14px;
	line-height: 14px;
	padding: 0 2px;
}
.headerOption.collapse, .sidebarFilter.collapse, .linkList.collapse {
	display: block !important;
}
.productCompare .btn {
	display: block;
	float: none;
	margin: 0 auto 5px;
}
.productSorting .form-group {
	float: none;
	display: block;
	margin: 0 auto;
	width: 163px;
}
.productSorting .btn-group {
	margin-right: 0;
	margin-bottom: 5px !important;
}
.productView .form-group {
	clear: both;
	display: block;
	margin: 0 auto;
	width: 123px;
}
.productDetailsWraper .productDetails .white {
	padding: 5px 12px;
}
.premiumProductsImage a {
	width: 99%;
}
.productDetailsWraper {
	margin-bottom: 43px;
}
.feature-product-wrapper h3 {
	font-size: 14px;
	padding-right: 15px;
}
.selectProduct .selectProductsList ul li {
	margin-bottom: 4px;
}
.language_edit li {
	margin-bottom: 5px;
}
.desoslide-thumbs-horizontal li {
	width: 60px;
}
.signUp .businessLocationWraper .btn-group .businessLocation {
	width: 90%;
}
.choose_plan_Twocolumn .choose_plan .col-1 .plan-table td.white, .choose_plan_Twocolumn .choose_plan .col-1 .plan-table td.gray {
	padding: 0 17px;
}
.choose_plan_Twocolumn .choose_plan .col-2 .plan-table th.heading, .choose_plan_Twocolumn .choose_plan .col-3 .plan-table th.heading {
	font-size: 18px;
}
/*b2c checkout start*/
.orderSummary {
	margin: 0;
}
/*b2c checkout end*/
.checkoutCountrySelect .btn.checkoutCountry, .checkoutStateSelect .btn.checkoutState {
	min-width: 186px;
}
.reasonContactWraper .btn-group .reasonContact {
	width: 90%;
}
}
/*Small device (Tablets)*/
@media (max-width: 991px) {
.headerFavorites {
	margin-top: 9px;
}
.headerFavorites, .headerFavorites a {
	line-height: normal;
}
.searchOption {
	padding-left: 15px;
	padding-right: 15px;
}
/*CTA Start*/
.cta {
	padding-bottom: 33px;
	padding-top: 60px;
}
.cta h2 a {
	font-size: 23px;
}
.cta p {
	font-size: 14px;
}
/*CTA End*/
.footer h6 {
	font-size: 12px;
}
.footerLink li a {
	font-size: 10px;
}
.recentlyViewed h6 {
	font-size: 12px;
	padding: 0 6px;
}
.recentlyViewedController .btn {
	font-size: 14px;
	line-height: 14px;
	padding: 0 2px;
}
.headerOption.collapse, .sidebarFilter.collapse, .linkList.collapse {
	display: block !important;
}
.productCompare {
	width: 100%;
	margin-bottom: 5px;
}
.productSorting {
	width: 55%;
}
.productSorting .btn-group {
	margin-right: 10px;
}
.productView {
	width: 45%;
}
.viewTabs li {
	margin: 0;
}
.productsListViewImageWraper .favorite {
	float: left;
	display: block;
}
.productGridViewSingle .checkboxLarge {
	margin-bottom: 9px;
}
.productDetailsWraper .productDetails .orange {
	font-size: 13px;
	padding: 3px 7px;
}
.productDetailsWraper .productDetails .white {
	font-size: 11px;
	padding: 5px 8px;
}
.productDetailsWraper {
	margin-bottom: 43px;
}
.bx-wrapper .bx-controls-direction {
	right: 10px;
	top: -37px;
}
.feature-product-wrapper .slide .premiumProductsImage {
	float: none;
	display: block;
	margin: 0 auto 5px;
}
.feature-product-wrapper h3 {
	font-size: 15px;
}
.language_edit li {
	margin-bottom: 5px;
}
.buttonHolder {
	margin-top: 13px;
}
.desoslide-thumbs-horizontal li a.remove {
	padding-top: 5px;
	font-size: 9px;
}
.coInfoSlideshowWraper .changeImage a {
	color: #fff;
	font-size: 14px;
}
.desoslide-thumbs-horizontal li {
	width: 40px;
}
.signUp .businessLocationWraper .btn-group .businessLocation {
	width: 86%;
}
.signUp {
	margin-top: 43px;
	padding: 20px 17px;
}
.signUp .radio label {
	font-size: 14px;
}
.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
	margin-left: 0;
}
.choose_plan_Twocolumn .signIn {
	background-color: #f1f2f2;
	padding: 23px 30px;
	margin: 0 0 30px 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
	box-shadow: 0 0 3px rgba(0,0,0,.2);
}
/*b2c checkout start*/
.orderSummary {
	margin: 0 0 33px 0;
}
.checkoutStep .panel-body label h5 {
	font-size: 15px;
}
/*b2c checkout end*/
.checkoutCountrySelect .btn.checkoutCountry, .checkoutStateSelect .btn.checkoutState {
	min-width: 193px;
}
.emailCaptureWraper .emailCaptureHolder {
	width: 80%;
}
.block {
	font-size: 11px;
}
.block span {
	font-size: 43px;
}
.selectLargeWrap > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
	width: 93%;
}
.selectMediumWrap > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
	width: 92%;
}
.selectSmallWrap > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
	width: 84%;
}
}
/*Small device (Phones)*/
@media (max-width: 767px) {
h1.logo {
	text-align: center;
}
.signInJoin {
	text-align: left;
}
.about {
	text-align: right;
}
.searchOption h1 {
	font-size: 40px;
}
.headerFavorites, .headerFavorites a {
	line-height: 39px;
}
.headerBottom {
	padding-top: 5px;
	padding-bottom: 13px;
}
/*CTA Start*/
.cta {
	padding-bottom: 53px;
	padding-top: 30px;
}
/*CTA End*/
.headerTop .signInJoin {
	position: relative;
	z-index: 2;
}
.headerTop .signInJoin li .dropdown-menu {
	text-align: left;
}
.headerTop .byuerSuppliersDropdown {
	position: relative;
	text-align: center;
	z-index: 1;
}
.headerTop .byuerSuppliersDropdown li.dropdown > a {
	border-top: 1px solid #f1f2f2;
	padding-top: 5px;
	padding-bottom: 5px;
}
.headerTop .byuerSuppliersDropdown li.dropdown.open > a {
	border-top: 1px solid #c6cbcc;
}
.byuerSuppliersDropdown > li:last-child > a {
	margin: 0;
}
.headerBottom .searchOption {
	margin-top: 9px;
}
.headerOption.collapse, .sidebarFilter.collapse, .linkList.collapse {
	display: none !important;
}
.headerOption.collapse.in, .sidebarFilter.collapse.in, .linkList.collapse.in {
	display: block !important;
}
.productSorting .form-group {
	margin: 0;
}
.productView .form-group {
	float: right;
	margin: 0 3px;
}
.paginationWraper .form-group {
	display: block;
	float: left;
	margin: 0;
}
.paginationWraper .goTo label {
	float: left;
	padding: 5px 0;
}
.paginationWraper .goTo input[type="text"] {
	float: left;
	margin: 0 5px;
	width: 43px;
}
.paginationWraper .form-group .btn {
	float: left;
}
.paginationLink {
	margin-top: 10px;
}
.productsListViewImageWraper {
	display: block;
	width: 160px;
	margin: 0 auto 13px;
}
.productsListViewImageWraper .favorite {
	float: right;
}
.productListViewInfo {
	margin-bottom: 13px;
}
.productListViewInfo, .productListViewRate {
	text-align: center;
}
.productGridViewSingle {
	width: 255px;
	display: block;
	margin: 0 auto;
}
.contactSupplier .form-horizontal label {
	margin-bottom: 6px;
}
.productDetailsWraper {
	margin-top: 33px;
	margin-bottom: 33px;
}
.zoom-section {
	margin: 0 auto;
	width: 317px;
}
.addFavorite {
	margin-top: 9px;
	float: left;
}
.rightInfo {
	text-align: left;
}
.productDetailsRatingShare {
	margin-bottom: 17px;
	text-align: center;
}
.productDetailsWraper .productDetails .orange {
	font-size: 18px;
	padding: 3px 6px;
	margin-bottom: 13px;
	vertical-align: top;
}
.productDetailsWraper .productDetails .white {
	font-size: 15px;
	padding: 5px 13px;
}
.right-contact-supplier {
	padding-top: 13px;
	padding-bottom: 13px;
}
.right-contact-supplier span {
	float: none;
}
.right-contact-supplier span.botton {
	margin-right: 0;
	vertical-align: top;
}
.right-contact-supplier span.heart {
	margin-right: 0;
}
.supplierWide .nav-tabs {
	margin-top: 30px;
}
.nav-tabs > li {
	float: none;
}
.productSuppliersTab .nav li a {
	margin-right: 0px;
}
.productSuppliersTabContent .collapseHeading h2 a {
	font-size: 19px;
}
.contact-supplier-box {
	text-align: center;
}
.supplier-details .contact-supplier-box p {
	text-align: center;
}
.productSearchResult h2 {
	font-size: 19px;
}
.btobSuppliersproductFilter .productView {
	width: 100%;
}
.selectProduct .btn {
	float: left;
	margin-top: 13px;
}
.selectProduct .selectProductsList ul li {
	margin: 4px;
}
.selectProduct .selectProductsList ul li:first-child {
	margin-left: 4px;
}
.btobSupplierListViewInfo h2 {
	padding: 0 23px;
}
.feature-product-wrapper .item {
	text-align: center;
}
.language_edit li {
	display: block;
	margin-bottom: 10px;
}
.language_edit li input[type="text"] {
	width: 100%;
}
.coInfoSlideshowWraper {
	width: 240px;
	margin: 0 auto 9px;
}
.desoslide-thumbs-horizontal li {
	width: 66px;
}
.desoslide-thumbs-horizontal li a.remove {
	padding-top: 10px;
	font-size: 13px;
}
.coInfoSlideshowWraper .changeImage a {
	color: #fff;
	font-size: 14px;
}
.signUp .businessLocationWraper .btn-group .businessLocation {
	width: 93%;
}
.signIn {
	margin: 30px 0;
}
.signUp .telephoneNunmber .form-group, .signUp .telephoneNunmber .form-group .form-control,
.checkoutStep .telephoneNunmber .form-group, .checkoutStep .telephoneNunmber .form-group .form-control {
	display: inline-block;
}
.choose_plan_Twocolumn .signIn {
	margin: 30px 0;
}
.choose_plan_Twocolumn, .choose_plan_Threecolumn {
	margin-bottom: 30px;
}
.choose_plan_Threecolumn {
	margin-top: 30px;
}
.choose_plan_Twocolumn .choose_plan h2, .choose_plan_Threecolumn .choose_plan h2 {
	display: block;
	text-align: center;
	margin-bottom: 50px;
}
/*--- Subscription Two cols start*/
.choose_plan_Twocolumn .choose_plan .col-1 {
	width: 50%;
}
.choose_plan_Twocolumn .choose_plan .col-2 {
	border-right: 1px solid #e6e6e6;
	width: 50%;
}
.choose_plan_Twocolumn .choose_plan .col-3 {
	border-left: 1px solid #e6e6e6;
	width: 50%;
}
.choose_plan_Threecolumn .choose_plan .col-1 {
	width: 50%;
}
.choose_plan_Threecolumn .choose_plan .col-2 {
	border-right: 1px solid #e6e6e6;
	width: 50%;
}
.choose_plan_Threecolumn .choose_plan .col-3 {
	border-left: 1px solid #e6e6e6;
	width: 50%;
}
.choose_plan_Threecolumn .choose_plan .col-1 .plan-table td.white, .choose_plan_Threecolumn .choose_plan .col-1 .plan-table td.gray, .choose_plan_Threecolumn .choose_plan .col-1 .plan-table th.heading {
	padding-right: 7px;
	padding-left: 5px;
	height: 50px;
}
.choose_plan_Twocolumn .choose_plan {
	padding: 20px 0;
}
.choose_plan_Twocolumn .choose_plan .col-1 .plan-table td.white, .choose_plan_Twocolumn .choose_plan .col-1 .plan-table td.gray, .choose_plan_Twocolumn .choose_plan .col-1 .plan-table th.heading {
	padding-right: 7px;
	height: 50px;
}
.choose_plan_Twocolumn .choose_plan .col-1 .plan-table td.last, .choose_plan_Twocolumn .choose_plan .col-2 .plan-table td.last, .choose_plan_Twocolumn .choose_plan .col-3 .plan-table td.last, .choose_plan_Twocolumn .choose_plan .col-2 .plan-table th.heading, .choose_plan_Twocolumn .choose_plan .col-2 .plan-table td.gray, .choose_plan_Twocolumn .choose_plan .col-2 .plan-table td.white, .choose_plan_Twocolumn .choose_plan .col-3 .plan-table th.heading, .choose_plan_Twocolumn .choose_plan .col-3 .plan-table td.gray, .choose_plan_Twocolumn .choose_plan .col-3 .plan-table td.white {
	padding: 0px 0px;
	height: 50px;
}
/*---Subscription  Two cols end*/
/*--- Subscription Three cols start*/
.choose_plan_Threecolumn .choose_plan {
	background: #f1f2f2;
	padding: 20px 0px;
	overflow: hidden
}
.choose_plan_Threecolumn .choose_plan .col-1 .plan-table td.last, .choose_plan_Threecolumn .choose_plan .col-2 .plan-table td.last, .choose_plan_Threecolumn .choose_plan .col-3 .plan-table td.last, .choose_plan_Threecolumn .choose_plan .col-1 .plan-table th.heading, .choose_plan_Threecolumn .choose_plan .col-2 .plan-table th.heading, .choose_plan_Threecolumn .choose_plan .col-2 .plan-table td.gray, .choose_plan_Threecolumn .choose_plan .col-2 .plan-table td.white, .choose_plan_Threecolumn .choose_plan .col-3 .plan-table th.heading, .choose_plan_Threecolumn .choose_plan .col-3 .plan-table td.gray, .choose_plan_Threecolumn .choose_plan .col-3 .plan-table td.white {
	padding-right: 7px;
	height: 50px;
}
/*--- Subscription Three cols end*/
.btocFavoritesSingle .productSupplierName, .btocFavoritesSingle .favoritesProductPrice, .btocFavoritesSingle .favoritesShareEarn, .btocFavoritesSingle .favoritesAddRemove {
	text-align: center;
}
.btocFavoritesSingle .favoritesShareEarn {
	margin-bottom: 5px;
}
.favoritesAddRemove .btn {
	margin: 17px 0;
}
.btocMessagesTab ul {
	padding: 0;
}
.btocMessagesTab ul li {
	margin: 0;
}
.btocMessagesContent {
	min-height: 253px;
}
.btocMessages .paginationLink {
	text-align: center;
}
.inboxFilterBar .form-group {
	display: inline-block;
	float: left;
	margin: 0 7px 0 0;
}
.btocMessagesTab ul li a {
	padding: 7px 13px;
}
.btocConsumerAccountScetion {
	margin-bottom: 23px;
}
.btocConsumerAccountScetion h3 {
	margin-bottom: 0px;
}
.linkList {
	margin-top: 33px;
}
/*b2b supplier account start*/
.b2b-supplier-account-page {
	padding-top: 13px;
}
.b2bSuppliersaccountTab {
	margin-top: 15px;
}
.b2bSuppliersaccountTab .nav-tabs {
	margin-left: 0px;
}
.b2bSuppliersaccountTab .nav li a {
	margin-right: 0px;
}
.b2bSuppliersaccountTab .account, .b2bSuppliersaccountTab .message, .b2bSuppliersaccountTab .activity {
	padding: 30px 0px 0;
}
/*b2b supplier account end*/
/*b2b supplier upload product one start*/
.btobSupplierUpProductOne .addNewproducts .addnewproductWrapper {
	padding: 30px 15px;
}
.btobSupplierUpProductOne .allCategory {
	margin-left: 5px;
}
.btobSupplierUpProductOne .addNewproducts form p {
	margin-bottom: 10px;
}
/*b2b supplier upload product one end*/
/*b2b supplier upload product two start*/
.btobSupplierUpProductTwo .addNewproducts .addnewproductWrapper {
	padding: 15px;
}
.btobSupplierUpProductTwo .addNewproducts form p {
	margin-bottom: 15px;
}
.btobSupplierUpProductTwo .createListing li {
	width: 46%;
}
.btobSupplierUpProductTwo .createListing li:nth-child(2n+0) {
	margin-right: 0%;
}
/*b2b supplier upload product two end*/
/*b2b supplier upload product three start*/
.describeProduct {
	margin-top: 30px;
}
/*b2b supplier upload product three end*/
.thankYou {
	margin-top: 43px;
	margin-bottom: 43px;
	padding: 15px;
}
.thankYou .btn {
	font-size: 13px;
	padding: 6px 9px;
}
/*b2c checkout start*/
.orderSummary {
	margin: 0 0 33px 0;
}
.forgotPassword {
	padding: 0;
}
.checkoutStep .btn-group .checkoutCountry, .checkoutStep .btn-group .checkoutState {
	width: 88%;
}
/*b2c checkout end*/
.emailCaptureWraper .emailCaptureHolder {
	width: 80%;
}
/*Footer Start*/
.footer {
	padding-top: 21px;
	padding-bottom: 16px;
}
.footerMenu {
	padding: 0 0 13px 0;
}
.footerMenu li a {
	padding: 0 8px;
}
.footerLinkWraper {
	margin-bottom: 0;
}
.equal {
	height: auto !important;
}
.footer h6 {
	text-align: center;
}
.footer h6 {
	font-size: 14px;
}
.footerLink li a {
	font-size: 12px;
}
.footerLink, .footerSocialMedia {
	float: left;
	margin: 0 0 17px 0;
	text-align: center;
	width: 100%;
}
.footerLogo {
	text-align: center;
}
.copyright {
	text-align: center;
	padding-bottom: 0;
}
.bigimage {
	margin-bottom: 23px;
}
.select-products {
	text-align: center;
	margin-bottom: 9px;
}
/*Footer End*/
.comingSoon {
	padding-top: 60px;
	padding-bottom: 30px;
}
.comingSoon h1 {
	font-size: 29px;
}
.block {
	margin-bottom: 9px;
}
.heading h1, .heading h2, .heading h3, .heading h4, .heading h5, .heading h6 {
	margin-bottom: 19px;
}
.heading h2 {
	font-size: 26px;
}
.selectRow .cardExpDateSelect {
	margin-bottom: 23px;
}
}
/*Extra small device (Phones)*/
@media (max-width: 480px) {
.bannerWide {
	background-position: right center;
}
.searchOption h1 {
	font-size: 26px;
	margin-bottom: 13px;
}
.searchOption .input-group-addon {
	border-bottom: none;
	display: block;
	width: 100%;
	-webkit-border-radius: 4px 0 0 0;
	-moz-border-radius: 4px 0 0 0;
	border-radius: 4px 0 0 0;
}
.selectbtn {
	padding: 11px 15px;
}
.searchOptiondropdown {
	position: relative;
}
.searchOptiondropdown .dropdown-menu {
	width: 100%;
}
.searchOption input[type="text"] {
	font-size: 14px;
	padding: 10px 13px;
	-webkit-border-radius: 0 0 0 4px;
	-moz-border-radius: 0 0 0 4px;
	border-radius: 0 0 0 4px;
}
.searchOption .fa-input {
	height: 74px;
}
.headerTop .byuerSuppliersDropdown > li > a {
	font-size: 12px;
	padding-left: 4px;
	padding-right: 5px;
}
.headerTop .byuerSuppliersDropdown .dropdown-menu.lastDropdown {
	left: -100%;
}
.headerBottom .selectbtn {
	padding: 10px 15px;
}
.headerBottom .searchOption input[type="text"] {
	padding: 9px 20px;
}
.headerBottom .searchOption .fa-input {
	height: 70px;
}
.productSorting {
	width: 56%;
}
.productSorting .btn-group {
	margin-right: 0;
	margin-bottom: 5px !important;
}
.productSorting .form-group .form-control .btn, .productView .form-group .form-control .btn {
	padding: 4px 18px 4px 4px;
}
.productView {
	width: 44%;
}
.productView .form-group {
	margin: 0 0 5px 0;
}
.paginationLink li a {
	padding: 3px 6px;
}
.zoom-small-image {
	width: 91%;
}
.productDetailsRatingShare p {
	font-size: 10px;
}
.company-name h2 {
	font-size: 18px;
}
.company-name h1 {
	font-size: 25px;
}
.collapseHeading.edit h2 a {
	font-size: 14px;
}
.collapseHeading.edit h2 a.edit {
	font-size: 11px;
	line-height: 18px;
}
.language li {
	margin-left: 15px;
	margin-right: 20px;
}
.signUp {
	margin-bottom: 33px;
}
.signUp .businessLocationWraper .btn-group .businessLocation,
.checkoutStep .btn-group .checkoutCountry, .checkoutStep .btn-group .checkoutState,
.reasonContactWraper .btn-group .reasonContact,
.cardTypeWraper .btn-group .cardType,
.stateSelectWraper .btn-group .stateSelect,
.countrySelectWraper .btn-group .countrySelect {
	width: 88%;
}
.selectLargeWrap > .btn:first-child:not(:last-child):not(.dropdown-toggle),
.selectMediumWrap > .btn:first-child:not(:last-child):not(.dropdown-toggle),
.selectSmallWrap > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
	width: 88%;
}
.signIn h2, .signUp h2 {
	font-size: 26px;
}
.telephoneNunmber .form-group input.countryCode[type="text"], .telephoneNunmber .form-group input.areaCode[type="text"] {
	width: 40px;
}
.telephoneNunmber .form-group p {
	font-size: 10px;
}
.telephoneNunmber .form-group input.phNumber[type="text"] {
	width: 110px;
}
/*---Subscription  Two cols start*/
.choose_plan_Twocolumn .choose_plan .col-2 .plan-table th.heading, .choose_plan_Twocolumn .choose_plan .col-1 .plan-table th.heading {
	font-size: 13px;
	padding-right: 7px;
}
.choose_plan_Twocolumn .choose_plan h3 {
	font-size: 14px;
	padding-left: 10px;
}
.choose_plan_Twocolumn .choose_plan .col-2 .plan-table td.last button {
	font-size: 11px;
	padding: 5px 10px;
}
.choose_plan_Twocolumn .choose_plan .col-3 .plan-table td.last .btn {
	font-size: 11px;
}
.choose_plan_Twocolumn .choose_plan .col-3 .plan-table th.heading, .choose_plan_Twocolumn .choose_plan .col-3 .plan-table td.gray, .choose_plan_Twocolumn .choose_plan .col-3 .plan-table td.white, .choose_plan_Twocolumn .choose_plan .col-2 .plan-table th.heading, .choose_plan_Twocolumn .choose_plan .col-2 .plan-table td.gray, .choose_plan_Twocolumn .choose_plan .col-2 .plan-table td.white {
	font-size: 12px;
}
.choose_plan_Twocolumn .choose_plan .col-1 .plan-table td.white, .choose_plan_Twocolumn .choose_plan .col-1 .plan-table td.gray, .choose_plan_Twocolumn .choose_plan .col-1 .plan-table th.heading {
	padding-right: 7px;
	padding-left: 0px;
	height: 50px;
}
/*---Subscription  Two cols end*/

/*---Subscription three cols start */
.choose_plan_Threecolumn .choose_plan .col-2 .plan-table th.heading, .choose_plan_Threecolumn .choose_plan .col-1 .plan-table th.heading {
	font-size: 13px;
	padding-right: 7px;
}
.choose_plan_Threecolumn .choose_plan h3 {
	text-align: center;
	display: block;
}
.choose_plan_Threecolumn .choose_plan .col-2 .plan-table td.last button {
	font-size: 11px;
	padding: 5px 10px;
}
.choose_plan_Threecolumn .choose_plan .col-3 .plan-table td.last .btn {
	font-size: 11px;
}
.choose_plan_Threecolumn .choose_plan .col-3 .plan-table th.heading, .choose_plan_Threecolumn .choose_plan .col-3 .plan-table td.gray, .choose_plan_Threecolumn .choose_plan .col-3 .plan-table td.white, .choose_plan_Threecolumn .choose_plan .col-2 .plan-table th.heading, .choose_plan_Threecolumn .choose_plan .col-2 .plan-table td.gray, .choose_plan_Threecolumn .choose_plan .col-2 .plan-table td.white {
	font-size: 12px;
}
.inboxFilterBar .form-group {
	margin-right: 2px;
}
.inboxFilterBar .form-group label, .inboxFilterBar .bootstrap-select.btn-group .btn .filter-option {
	font-size: 12px;
}
.inboxFilterBar .form-group .btn {
	padding-left: 5px;
	padding-right: 19px;
}
/*---Subscription three cols end*/
/*b2b supplier upload product two start*/
.btobSupplierUpProductTwo .createListing li {
	width: 100%;
}
.btobSupplierUpProductTwo .createListing li:nth-child(n+0) {
	margin-right: 0%;
}
/*b2b supplier upload product two end*/
/*b2b supplier upload product three start*/
.describeProduct .describeproductWrapper {
	padding: 15px;
}
.addNewproducts .Heading h2, .describeProduct .Heading h2 {
	font-size: 16px;
}
.describeProduct .btn.orange {
	margin-left: 0;
}
.describeProduct .btn {
	margin-bottom: 15px;
}
/*b2b supplier upload product three end*/
/*b2b checkout start*/
.forgotPassword {
	padding: 0;
}
.checkoutStep .panel-body .red {
	font-size: 17px;
}
/*b2b checkout end*/
.emailCaptureHolder h2 {
	font-size: 23px;
	line-height: 33px;
}
.emailCaptureHolder h1.logo a {
	font-size: 29px;
}
.emailCaptureHolder .orange {
	font-size: 15px;
}
/*Footer Start*/	
.footerMenu li a {
	padding: 0 8px;
	margin-bottom: 8px;
}
/*Footer End*/
}
